[data-component="spaces-edit"]
  align-self center
  flex-flow column
  max-width 1024px
  padding 1em
  width 100%

  .actions
    align-items center
    flex-flow row
    justify-content space-between
