[data-component="spaces-edit"]
  align-self center
  flex 1 0 auto
  flex-flow column
  justify-content space-between
  max-width 1024px
  padding-top 1em
  width 100%

  .field-group + .field-group
    margin-top 1em

  .field-group[data-group-type="checkbox"]
    margin-left 15%
